
@{
    ViewData["Title"] = "MosqXSHotspot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MosqXSHotSpot</h2>

<iframe width="1110" height="400" src="https://data.gov.sg/dataset/dengue-clusters/resource/801ce5ce-fb99-4211-94fe-9d8ca5e182d4/view/07e4bfc9-8675-4534-959f-768be06aeeab" frameBorder="0"> </iframe>