<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <!DOCTYPE html>

    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>PRODUCT</title>
        <link rel="stylesheet" href="css\styles.css">
    </head>
    <body>
        <h1>MosQxs Product Page</h1>
        <br />
        <h2>HOME / mosqXs</h2>
        <br />
        <div class="img1">
            <img src="images\productprice.png" alt="product poster" />
        </div>
        <br />
        <br />
        <h3>OUR PRODUCT</h3>
        <hr>
        <br />
        <img src="images\product.png" width="400" height="400" alt="product poster" border="5" align="left" />
        <h4>Having Mosquito problems?</h4>
        <p>Our Product, named "MosqXs" is the ONLY solution you will need. </p>
        <input type="image" src="images\addcart.png" />

    </body>
</html>
</body>
</html>