@{
    ViewData["Title"] = "MosqXSProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<style>
    body {
        background-color: #343a40;
    }

    h1 {
        font-family: Arial;
        text-align: center;
    }
    h2 {
        text-align: left;
        font-size: 20px;
        color: dodgerblue;
        font-family: Arial;
    }

    h3 {
        text-align: center;
        font-size: 50px;
        color: white;
        font-family: Arial;
    }

    h4 {
        text-align: left;
        font-size: 30px;
        color: red;
        font-family: Arial;
        text-indent: 12em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        font-family: Arial;
        color: white;
    }

    hr {
        width: 20%;
        height: 5px;
    }

    div.button {
        position: relative;
        left: 715px;
    }

    div.productpng {
        position: relative;
        left: 7%;
    }

    div.line {
        font-size: 20px;
        text-indent: 240px;
    }

    div.para1 {
        position: relative;
        left: 190px;
        font-size: 17px;
    }

    div.para2 {
        position: relative;
        left: 600px;
        bottom: 140px;
        font-size: 17px;
    }

    div.para3 {
        position: relative;
        left: 375px;
        font-size: 30px;
    }

</style>
<body>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>PRODUCT</title>
        <link rel="stylesheet" href="css\styles.css">
    </head>
    <body>
        <div class="img1">
            <img src="~/images/newproduct.jpg" alt="product poster" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <h3>OUR PRODUCT</h3>
        <hr>
        <br />
        <br />
        <br />
        <br />
        <div class="productpng">
            <img src="~/images/finalproduct.png" width="400" height="400" alt="product poster" border="5" align="left" />
        </div>

        <h4>Having Mosquito problems?</h4>

        <div class="line">
            <p>Our Product, named "MosqXs" is the <b>ONLY</b> solution you will need. </p>
            <br />
        </div>

        <div class="para1">
            <p>
                When charged, the device will produce<br /><b>484hz</b> sound frequencies which will attract <br /><b>MALE</b> Mosquitoes
                while a Soda Can in <br />the box produces Carbon Dioxide which <br /> attracts <b>FEMALE</b> Mosquitoes
            </p>
        </div>

        <div class="para2">
            <p>
                Upon entering the device's opening<br />a Fan in the device will blow the<br /> Mosquitoes
                towards a double sided <br />tape card <br />
            </p>
        </div>

        <div class="para3">
            <p>
                <b>TO PLACE AN ORDER:</b>
            </p>
        </div>

        <div class="button">
            <input type="image" src="~/images/buybutton.png" />
        </div>

    </body>
</html>
</body>