<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>MosqXS</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/typed.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>


</head>
<body>
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-sm-12">
                @await Html.PartialAsync("MosqXSMenu.cshtml")
                @* This line insert our navigation bar *@
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    Reduce mosquitoes!&nbsp;
                </p>
            </div>
        </div>*@
        <!-- 3rd row -->
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <!-- 4th row -->
            @*<div class="col-sm-12" style="text-align: right">
                <hr />
                <footer>
                    <p style="padding-right:10px;">
                        MosqXS - &copy;@DateTime.Today.Year
                        School of ICT, Ngee Ann Polytechnic
                    </p>
                </footer>
            </div>*@
        <div>
            @await Html.PartialAsync("MosqXSFooter.cshtml")
        </div>
    </div>
</body>
</html>
