<section>
    <div class="container-fluid bg-dark">
        <div class="row text-center d-flex">
            <div class="col-xs-12 col-sm-2 mx-auto">
                <h5 class="my-5 text-white" style="font-family:Tahoma;">Quick links</h5>
                <ul class="list-group">
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSMain">Home</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSHotSpot">Hotspot</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSInfo">Dengue Information</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a>Product</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 mx-auto">
                <h5 class="my-5 text-white" style="font-family:Tahoma;">Reference links</h5>
                <ul class="list-group">
                    <li class="list-inline-item my-2 btn btn-secondary"><a>Arduino Sound Frequency Mosquito Repellent</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a>Carbon Dioxide Generator</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 mx-auto">
                <h5 class="my-5 text-white" style="font-family:Tahoma;">Contact us</h5>
                <div class="d-flex">
                    <p>Office : </p>
                    <p> 9562 6356</p>
                </div>
                <div class="d-flex">
                    <p>Mobile (Mr Lim) : </p>
                    <p> 4642 0259</p>
                </div>
                <div class="d-flex">
                    <p>Address : </p>
                    <p> 21 Lower Kent Ridge Rd, Singapore 119077</p>
                </div>
            </div>
        </div>
        <div class="text-center center-block">
            <div class="col-12 mt-5">
                <ul class="list-group">
                    <li class="list-inline-item"><a href="https://www.facebook.com/Stop.Dengue.Now/"><i class="fa fa-facebook-square fa-3x social"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/hashtag/dengue?lang=en"><i class="fa fa-twitter-square fa-3x social"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.nea.gov.sg/dengue-zika/dengue/dengue-cases"><i class="fa fa-google-plus-square fa-3x social"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:jane_doe@nea.gov.sg"><i class="fa fa-envelope-square fa-3x social"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</section>

