<section>
    <div class="container-fluid bg-dark">
        <div class="row text-center d-flex">
            <div class="col-xs-12 col-sm-3 ">
                <h5>Quick links</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a asp-controller="Home" asp-action="MosqXSMain">Home</a></li>
                    <li class="list-group-item"><a asp-controller="Home" asp-action="MosqXSHotSpot">Hotspot</a></li>
                    <li class="list-group-item"><a>Common Tips and Guides</a></li>
                    <li class="list-group-item"><a>Product</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <h5>Reference links</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a>Arduino Sound Frequency Mosquito Repellent</a></li>
                    <li class="list-group-item"><a>Carbon Dioxide Generator</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <ul class="list-group">
                    <li class="list-inline-item"><a><span class="fab fa-facebook"></span></a></li>
                    <li class="list-inline-item"><a><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</section>

