<section>
    <div class="container-fluid bg-dark">
        <div class="row text-center d-flex">
            <div class="col-xs-12 col-sm-12 col-md-2 mx-auto">
                <h5 class="my-5 text-white" style="font-family:Tahoma;">Quick links</h5>
                <ul class="list-group">
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSMain" class="text-white" style="white-space:normal">Home</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSHotSpot" class="text-white" style="white-space:normal">Hotspot</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a asp-controller="Home" asp-action="MosqXSInfo" class="text-white" style="white-space:normal">Dengue Information</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a class="text-white" style="white-space:normal">Product</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 mx-auto">
                <h5 class="my-5 text-white " style="font-family:Tahoma;">Reference links</h5>
                <ul class="list-group">
                    <li class="list-inline-item my-2 btn btn-secondary"><a href="https://www.instructables.com/id/Arduino-Mosquito-Repeller/" class="text-white" style="white-space:normal">Arduino Sound Frequency Mosquito Repellent</a></li>
                    <li class="list-inline-item my-2 btn btn-secondary"><a class="text-white" style="white-space:normal">Carbon Dioxide Generator</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 mx-auto">
                <h5 class="my-5 text-white" style="font-family:Tahoma;">Contact us</h5>
                <div class="d-flex">
                    <p class="text-muted">Office</p>
                    <p class="text-white">: 9562 6356</p>
                </div>
                <div class="d-flex">
                    <p class="text-muted">Mobile (Mr Lim)</p>
                    <p class="text-white">: 4642 0259</p>
                </div>
                <div class="d-flex">
                    <p class="text-muted">Address</p>
                    <p class="text-white">: 21 Lower Kent Ridge Rd, Singapore 119077</p>
                </div>
            </div>
        </div>
        <div class="text-center center-block">
            <div class="col-12 mt-5">
                <a href="https://www.facebook.com/NEASingapore/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/NEAsg?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
                <a href="http://www.nea.org/" class="fa fa-google"></a>
                <a href="https://www.instagram.com/nea_sg/?hl=en" class="fa fa-instagram"></a>

            </div>
        </div>
    </div>
</section>

