<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-6">
                <h3>Quick links</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a asp-controller="Home" asp-action="MosqXSMain">Home</a></li>
                    <li class="list-group-item"><a asp-controller="Home" asp-action="MosqXSHotSpot">Hotspot</a></li>
                    <li class="list-group-item"><a asp-controller="Home" asp-action="MosqXSInfo">Dengue Information</a></li>
                    <li class="list-group-item"><a>Product</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Reference links</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a>Arduino Sound Frequency Mosquito Repellent</a></li>
                    <li class="list-group-item"><a>Carbon Dioxide Generator</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <ul class="list-group">
                    <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</section>